@font-face {
    font-family: 'Squartiqa4F';
    src: local('Squartiqa 4F Ultra Light'), local('Squartiqa-4F-Ultra-Light'),
        url('Squartiqa4FUltraLight.woff2') format('woff2'),
        url('Squartiqa4FUltraLight.woff') format('woff'),
        url('Squartiqa4FUltraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
  }
@font-face {
    font-family: 'Aeroport';
    src: url('Aeroport.eot');
    src: local('Aeroport'),
        url('Aeroport.eot?#iefix') format('embedded-opentype'),
        url('Aeroport.woff2') format('woff2'),
        url('Aeroport.woff') format('woff'),
        url('Aeroport.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}